@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: whitesmoke;
}

.feedback-container .feedback-card:last-child {
    margin-right: 0px;
}

.hero-container {
    background-image: url(./assets/herobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}